{% extends 'dc/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <div class="albums-container container-fluid">

        <!-- Albums -->
        <div class="row">
            <div class="col-sm-12">
                <h3>{{ user.username }}'s Albums</h3>
            </div>
            <div class="col-sm-12">
                <h3><strong>Checked = {{ x.count }}</strong></h3>
            </div>

            {% if all_media %}
                {% for media in all_media %}
                    <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">
                            {#                        <a href="{% url 'detail' media.pk %}">#}
                            <iframe src="{{ media.video.url }}" class="img-responsive"></iframe>
                            {#                        </a>#}
                            <div class="caption">
                                <h2>{{ media.user }}</h2>
                                <h4>{{ media.model }}</h4>
                                <h4>{{ media.year }}</h4>

                                <!-- View Details -->
                                <a href="{% url 'detail' media.pk %}" class="btn btn-primary btn-sm" role="button">View
                                    Details</a>

                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}
            {% else %}
                <div class="col-sm-12">
                    <br>
                    <a href="{% url 'mediaCreate' %}">
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a Video
                        </button>
                    </a>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
